<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock title %}</title>
        <meta name="description" content="Wir wollen Reallife-Quest-Murder-Game richtig spielen!" />
        <meta name="authors" content="Nimuedaertya, Limira">
		  {% block css_files %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/styles/output.css') }}">
		  {% endblock css_files %}
		  {% block js_files %}
		  {% endblock js_files %}
		<link rel="shortcut icon" href="{{ url_for('static', filename='src/images/AmongUsFavIcon.ico') }}">

	</head>   
	<header>
	  {% block header scoped %}
	  {% endblock header %}
	</header>
  <body>
	{% block body scoped %}
	<a href="../../tasks" class="button">Zum Aufgabenstatus</a>
	<a href="../../players" class="button">Zur Spielerübersicht</a>
	<a href="../" class="button">Zur Startseite</a>
	{% endblock body %}
  </body>
</html>
