<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="keywords" content="foo,bar"/>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <meta name="description"
              content="Wir wollen Reallife-Quest-Murder-Game richtig spielen!" />
        <meta name="authors" content="Nimuedaertya, Limira">
        {% block css_files %}
            <link rel="stylesheet"
                  type="text/css"
                  href="{{ url_for('static', filename='src/styles/output.css') }}">
        {% endblock css_files %}
        {% block js_files %}
        {% endblock js_files %}
        <link rel="shortcut icon"
              href="{{ url_for('static', filename='src/images/AmongUsFavIcon.ico') }}">
    </head>
    <header>
        {% block header scoped %}
        {% endblock header %}
    </header>
    <body>
        {% block body scoped %}
			<button onclick="document.location='../../tasks'">Zum Aufgabenstatus</button>
			<button onclick="document.location='../../players'">Zur Spielerübersicht</button>
    		<button onclick="document.location='../'">Zur Startseite</button>
        {% endblock body %}
    </body>
</html>
