{% extends "base_template.html" %}

{% block title %} Player Overview {% endblock title %}

{% block js_files %}
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
	<!-- <script async defer language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='src/scripts/sabotage.js')}}"></script> --->
{% endblock js_files %}

{% block body %}
	<h2> Spielerübersicht </h2>

	<h3> {{ number_alive }} von {{ number_all }} sind noch am Leben! </h3>

	<button onclick="document.location='../../tasks'">Zum Aufgabenstatus</button> 
{% endblock body %}
