{% extends "base_template.html" %}

{% block title %} Rolle {{ username }} {% endblock title %}

{% block js_files %}
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
	<!-- <script async defer language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='src/scripts/sabotage.js')}}"></script> --->
		<script async defer src="{{ url_for('static', filename='src/scripts/kill.js')}}"></script>
		<script async defer src="{{ url_for('static', filename='src/scripts/dead.js')}}"></script>
		<script async defer src="{{ url_for('static', filename='src/scripts/notifications.js')}}"></script>
		<script async defer src="{{ url_for('static', filename='src/scripts/messages.js')}}"></script>
		<link rel="shortcut icon" href="{{ url_for('static', filename='src/images/AmongUsFavIcon.ico') }}">
{% endblock js_files %}

{% block body %}
	{% if data.role.parent_role is defined %}
	<h2> Hallo {{ username }} ^-^ <br> du bist {{ data.role.name }} ({{ data.role.parent_role }}). </h2>
	{% else %}
    <h2> Hallo {{ username }} ^-^ <br> du bist {{ data.role.name }}. </h2>
	{% endif %}

	<p> {{ data.role.description }} </p>
	
	{% if data.other_role_info is defined %}
	<h3> Weitere Informationen: </h3>
	    {% for role in data.other_role_info %}
	<p> Folgende Leute sind {{ role }}: </p> 
	<ul>
          {% for person in data.other_role_info[role].entities %}
			<li>  {{ person }}  </li> 
		  {% endfor %}
	</ul>
	    {% endfor %}
	</ul>
	{% endif %}
	<div id="noti"></div>

	<h3> Du hast folgende Aufgaben: </h3> 
		<ul>
			{% for task in data.tasks %}
			  {% if task.task_done == true %}
				<li class="completed">{{ task.name }} </li>
			  {% else %}
				<li>{{ task.name }}  </li> 
			  {% endif %}
			{% endfor %}
		</ul>

	{% if data.role.can_kill == true %}
		<button id="kill" class="ready">💀 Kill</button>
		<label class="hidden toplabel" id="killcount" for="kill"></label>
	{% endif %}

	<button id="dead_button" class="ready" value='dead'>Dead</button>

	<button id="report" class="ready">Report</button>
	
	{{ super() }}
	
{% endblock body %}
