/* Base styles */

* {
  color: aliceblue;
  font-family: OctoberNight;
}

@font-face {
  font-family: AmongUs;
  src: url("../fonts/Amongus-3zjxX.ttf");
}

@font-face {
  font-family: OctoberNight;
  src: url("../fonts/October Night.otf");
}

h1,
h2,
h3 {
  font-family: AmongUs;
  font-size: 4em;
  text-align: center;
  background-color: black;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

ul {
  font-size: 1.5em;
}

p {
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: 0.5em;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url("../images/back-stars.jpg");
  background-color: black;
  background-repeat: repeat;
  background-size: 50%;
  align-items: center;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

footer {
  align-self: center;
}

input {
  color: black;
  text-align: center;
  justify-self: end;
  font-size: 1.5em;
}

body,
header,
footer {
  padding-left: 1em;
  padding-right: 1em;
}

ul {
  list-style-type: square;
  background-color: rgba(0, 0, 0, 0.8);
}

li {
  margin-bottom: 0.5em;
}

label {
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Utility classes */

.hidden {
  display: none;
}

/* Components: button */

.button {
  margin-top: 0.8em;

  font-size: 1.5em;
  border: 2px solid rgb(8, 125, 125);
  padding: 0.5em;
  border-radius: 8px;
  transition-duration: 0.4s;
  
  text-align: center;
  text-decoration: none;

  color: black;
  background-color: aliceblue;
}

.button:hover {
  color: white;
  background-color: black;
  border: 2px solid white;
}

.button.ready {
  background-color: greenyellow;
  border-color: green;
  margin-top: 0.8em;
}

.button.ready:hover {
  color: greenyellow;
  background-color: black;
  border: 2px solid greenyellow;
  margin-top: 0.8em;
}

/* Page: player_info */

.completed {
  color: green;
  text-decoration: line-through;
}

.pause {
  background-color: grey;
  border-color: darkgray;
  color: rgb(50, 50, 50);
  margin-top: 0.8em;
  margin-bottom: 0;
}

.pause:hover {
  background-color: grey;
  border-color: darkgray;
  color: rgb(50, 50, 50);
  margin-top: 0.8em;
  margin-bottom: 0;
}

/* Page: index */

.botlabel,
.toplabel {
  font-size: 1.2em;
}

#name {
  max-width: 7em;
  margin: 0.25em;
  margin-top: 0.8em;
  margin-bottom: 0em;
}

.qr_scanner {
  margin-top: 1.5em;
  border: 2px solid yellowgreen;
  border-radius: 8px;
}

/* Page: admin */

.admin_tab {
  font-size: 2em;
}

.admin_tab_head, .admin_tab {
  padding: 25px;
  background-color: black;
}

.admin_tab_bool_true {
  color: green;
  font-size: 2em;
}

.admin_tab_bool_false {
  color: red;
  font-size: 2em;
}

.admin_tab_head {
  font-weight: bold;
  font-size: 2em;
  border: 2px solid;
}

.table_admin {
  border: 2px solid;
}
